* {
    font-family: "Share Tech", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Container */
.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

/* Header */
header .container,
section .container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

header {
    padding: 16px;
    margin-bottom: 36px;
}

/* submenu */
.submenu {
    display: none;
    position: absolute;
    left: 0;
    width: 300px;
    top: 100%;
    background-color: #fff;
}

.submenu li {
    display: block;
    padding: 8px;
}

.submenu li a {
    text-decoration: none;
    color: #000;
}

/* menu */
.menu > li {
    float: left;
    list-style: none;
    position: relative;
    cursor: pointer;
    padding: 16px;
    font-size: 1.2em;
    border-top: 4px solid transparent;
}

.menu li:hover .submenu {
    display: block;
}

/* sobre a loja */
#sobre img{
    width: 20em;
    padding-right: 10px;
}

#sobre h3 {
    font-size: 1.5em;
    padding: 10px;
}

/* Adicione estilos para o título "Produtos" */
#produtos-loja h2 {
    margin: 0 0 20px 80px;
    font-size: 2em;
}

/* Altere estilos para a seção #produtos */
#produtos-loja {
    padding-top: 20px; /* Adicionado espaço acima da seção */
}

/* Produstos */
.produtos {
    display: grid; /* Alterado para grid */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Distribui as produtos em várias colunas */
    gap: 20px; /* Espaçamento entre os produtos */
    justify-items: center; /* Centraliza as notícias horizontalmente */
}

/* Produsto */
.produto {
    width: 100%; /* Alterado para ocupar 100% da largura do grid */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.produto img {
    max-width: 100%;
    height: 180px;
    border-radius: 5px;
}

.produto h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.produto p {
    margin-bottom: 10px;
}

.produto strong {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* button */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.6s ease;/* Adiciona transição para suavizar a mudança */
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.1); /* Aumenta o tamanho em 10% ao passar o mouse */
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra ao redor do botão */
}

/* footer */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3396ff;
    padding: 20px;
    margin-top: 20px;
}

